# GitHub Linguist overrides

*.blade.php linguist-language=PHP

resources/views/**/*.blade.php linguist-language=PHP

*.css linguist-language=CSS

*.js linguist-language=JavaScript

*.vue linguist-language=JavaScript